/*************************************************
	
	
	Kenny 8X
	Stan 38X
	Kyle 88X
	Cartman 128X
	
**************************************************/

html,body,input,textarea,form,h1,h2,h3,h4,h5,h6,table,th,td,tr,div,span,li,il,ul{
	margin:0px;
	padding:0px;
}
body{
	font-size:14px;
	font-family:arial,david,tahoma;
	text-direction:ltr;
	color:black;
	background: -webkit-linear-gradient(top, #C8E8BA, #95C77D);
	background: -moz-linear-gradient(top, #C8E8BA, #95C77D);
	background: -ms-linear-gradient(top, #C8E8BA, #95C77D);
	background: linear-gradient(top, #C8E8BA, #95C77D);
  background-repeat:no-repeat;
  background-color:#95C77D;
}
header,section,footer{
	display:block;
}
a:link,
a:hover,
a:visited{
	color:black;
	text-docretion:none;
}

#container{
	width:1000px;
	margin:0 auto;
}

#header{
	margin:5px 0 5px 0px;
	padding:10px;
}
#header h1{
	font-size:32px;
	font-weight:bold;
	color:darkblue;
}

#footer{
	margin:5px 0 5px 0px;
	padding:10px;
}

span{
	position:relative;
	display:block;
}
.content{
	background:#fff;
	border-width:0 4px 0 4px;
	border-style:solid;
	border-color:#95C77D;
	background:#fff;
	padding:30px;
	min-height:200px;
}

.char{
	height:200px;
	width:200px;
	float:left;
}

/*************************************** Kenny	***************************************/

/*head bg*/
#kenny span:nth-of-type(1){
	background:#f06402;
	height:120px;
	width:120px;
	border-radius:60px;
	left:47px;
	top:7px;
	z-index:2;
	border:1px solid #9d4100;
	/*opacity:0.5;	remove it*/
}
/*head cover*/
#kenny span:nth-of-type(1):before{
	content:"";
	display:block;
	position:relative;
	height:80px;
	width:90px;
	border:1px solid black;
	background:transparent;
	left:16px;
	top:25px;
	border-radius:50px;
	z-index:3;
}
#kenny span:nth-of-type(1):after{
	content:"";
	display:block;
	position:relative;
	height:70px;
	width:80px;
	background:#754725;
	left:21px;
	top:-56px;
	border-radius:50px;
	z-index:3;
}
/*head inner skin*/
#kenny span:nth-of-type(4){
	content:"";
	display:block;
	position:relative;
	height:69px;
	width:40px;
	background:#eec98e;
	left: 88px;
	top: -168px;
	border-radius:20px / 35px;
	z-index:4;
}
/*right eye white*/
#kenny span:nth-of-type(4):before{
	content:"";
	display:block;
	position:relative;
	height:30px;
	width:20px;
	background:#fff;
	left: 1px;
	top: 13px;
	border-radius:16px 12px 25px 1px;
	z-index:5;
}
/*right eye blck*/
#kenny span:nth-of-type(4):after{
	content:"";
	display:block;
	position:relative;
	height:4px;
	width:4px;
	background:black;
	left: 10px;
	top: -5px;
	border-radius:5px;
	z-index:6;
}
/*string*/
#kenny span:nth-of-type(6){
	content:"";
	display:block;
	position:relative;
	height:30px;
	width:20px;
	border-width:0px 0px 0px 1px;
	border-style:solid;
	background:transparent;
	border-radius:0 0px 0 15px;
	left: 108px;
	top: -202px;
	z-index:6;
}
#kenny span:nth-of-type(6):before{
	content: "";
	display: block;
	position: relative;
	height: 17px;
	width: 16px;
	border-width: 0px 1px 0px 0px;
	border-style: solid;
	background: transparent;
	border-radius: 0px 0px 10px 0px;
	left: -20px;
	top: 6px;
	-webkit-transform:skewY(-40deg)  rotate(18deg);
	-moz-transform:skewY(-40deg)  rotate(18deg);
	-ms-transform:skewY(-40deg)  rotate(18deg);
	-o-transform:skewY(-40deg)  rotate(18deg);
	transform:skewY(-40deg)  rotate(18deg);
	z-index: 6;
}
/*left eye white*/
#kenny span:nth-of-type(5):before{
	content:"";
	display:block;
	position:relative;
	height:30px;
	width:20px;
	background:#fff;
	left: 107px;
	top: -224px;
	border-radius: 8px 11px 2px 17px;
	z-index:5;
}
/*left eye blck*/
#kenny span:nth-of-type(5):after{
	content:"";
	display:block;
	position:relative;
	height:4px;
	width:4px;
	background:black;
	left: 114px;
	top: -242px;
	border-radius:5px;
	z-index:6;
}

/*left arm (from his point of view)*/
#kenny span:nth-of-type(2):before{
	content:"";
	display:block;
	position:relative;
	background:#f06402;
	height:50px;
	width: 22px;
	left: 85px;
	top: 81px;
	border-top-right-radius: 35px;
	border-bottom-right-radius: 35px;
	z-index:1;
	-webkit-transform: skewY(60deg);
	-moz-transform: skewY(60deg);
	-ms-transform: skewY(60deg);
	-o-transform: skewY(60deg);
	transform: skewY(60deg);
}
/*right arm (from his point of view)*/
#kenny span:nth-of-type(2){
	background:#f06402;
	height:50px;
	width: 22px;
	left: 53px;
	top: -13px;
	border-top-left-radius: 35px;
	border-bottom-left-radius: 35px;
	z-index:1;
	-webkit-transform: skewY(-44deg);
	-moz-transform: skewY(-44deg);
	-ms-transform: skewY(-44deg);
	-o-transform: skewY(-44deg);
	transform: skewY(-44deg);
}
/*right hand*/
#kenny span:nth-of-type(3):before{
	content:"";
	display:block;
	position:relative;
	height:20px;
	width:20px;
	top:-30px;
	left:48px;
	background:#754725;
	border-radius:12px;
	z-index:3;
	border:1px solid #5f3516;
}
/*finger right hand*/
#kenny span:nth-of-type(3):after{
	content:"";
	display:block;
	position:relative;
	height:8px;
	width:8px;
	top:-48px;
	left:62px;
	background:#754725;
	border-radius:4px;
	z-index:4;
	border:1px solid #5f3516;
}
/*left hand*/
#kenny span:nth-of-type(7):before{
	content:"";
	display:block;
	position:relative;
	height:20px;
	width:20px;
	top:-194px;
	left:143px;
	background:#754725;
	border-radius:12px;
	z-index:3;
	border:1px solid #5f3516;
}
/*finger left hand*/
#kenny span:nth-of-type(7):after{
	content:"";
	display:block;
	position:relative;
	height:8px;
	width:8px;
	top: -213px;
	left: 142px;
	background:#754725;
	border-radius:4px;
	z-index:4;
	border:1px solid #5f3516;
}
/*jacket*/
#kenny span:nth-of-type(8){
	height: 0px;
	width: 70px;
	border-bottom: 53px solid #f06402;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	position: relative;
	left: 62px;
	top: -253px;
}
/*jacket bottom*/
#kenny span:nth-of-type(8):before{
	content: "";
	display: block;
	position: relative;
	height: 12px;
	width: 90px;
	background: #f06402;
	border-radius: 44px / 8px;
	left: -10px;
	top: 45px;
	border-bottom: 1px solid #9d4100;
	z-index:2;
}
/*jacket sep line*/
#kenny span:nth-of-type(8):after{
	content: "";
	display: block;
	position: relative;
	height: 42px;
	width: 2px;
	background: #9d4100;
	left: 33px;
	top: 2px;
	z-index:3;
}
/*legs*/
#kenny span:nth-of-type(9){
	height: 13px;
	width: 80px;
	background: #f06402;
	position: relative;
	top: -253px;
	left: 66px;
	z-index: 1;
}
#kenny span:nth-of-type(9):after{
	content:"";
	position:relative;
	display:block;
	height:2px;
	width:86px;
	background:black;
	left:-3px;
	top:12px;
	border-top-left-radius:1px;
	border-top-right-radius:1px;
}
/*jacket sep line hands*/
#kenny span:nth-of-type(10):before{
	content: "";
	display: block;
	position: relative;
	height: 16px;
	width: 2px;
	background: #9d4100;
	left: 66px;
	top: -305px;
	z-index: 3;
	-webkit-transform: rotate(15deg);
}
#kenny span:nth-of-type(10):after{
	content: "";
	display: block;
	position: relative;
	height: 16px;
	width: 2px;
	background: #9d4100;
	left: 145px;
	top: -320px;
	z-index: 3;
	-webkit-transform: rotate(-15deg);
}

/*************************************** Stan	***************************************/

/*head shape and skin*/
#stan span:nth-of-type(1){
	background:#ffe1c4;
	height:120px;
	width:120px;
	border-radius:60px;
	left:47px;
	top:7px;
	z-index:2;
}
#stan span:nth-of-type(1):before{
	content :"";
	display:block;
	position:relative;
	background:transparent;
	border-top:10px solid #f00014;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	border-bottom:10px solid transparent;
	border-radius: 174px / 33px;
	left: -11px;
	top: 42px;
	height: 43px;
	width: 122px;
	z-index: 2;
	/*-webkit-transform:rotateX(70deg);
	-webkit-transform:skew(130deg,130deg);*/

}

/*hat*/
#stan span:nth-of-type(1):after{
	content :"";
	display:block;
	position:relative;
	background:#3644f0;
	height: 52px;
	width: 116px;
	border-radius: 90px 90px 0 0;
	left: 2px;
	top: -63px;
	z-index: 1;
}

/*eyes*/
#stan span:nth-of-type(2){
	height: 29px;
	width: 35px;
	background: white;
	border-radius: 16px / 14px;
	left: 74px;
	top: -56px;
	z-index: 2;
	-webkit-transform: rotate(-57deg);
	-moz-transform: rotate(-57deg);
	-ms-transform: rotate(-57deg);
	-o-transform: rotate(-57deg);
	transform: rotate(-57deg);
}
#stan span:nth-of-type(2):before{
	content: "";
	display: block;
	position: relative;
	height: 29px;
	width: 35px;
	background: white;
	border-radius: 16px / 14px;
	left: 19px;
	top: 29px;
	z-index: 2;
	-webkit-transform: rotate(110deg);
	-moz-transform: rotate(110deg);
	-ms-transform: rotate(110deg);
	-o-transform: rotate(110deg);
	transform: rotate(110deg);
}

/*eyeball*/
#stan span:nth-of-type(3){
	height:4px;
	width:4px;
	background:black;
	border-radius:3px;
	left: 96px;
	top: -75px;
	z-index: 2;
}
#stan span:nth-of-type(3):before{
	content:"";
	display:block;
	position:relative;
	height:4px;
	width:4px;
	background:black;
	border-radius:3px;
	left: 22px;
	top: 0px;
	z-index: 2;
}

/*hat */
#stan span:nth-of-type(4){
	height: 26px;
	width: 3px;
	background: #f00014;
	border: 0.6px solid black;
	left: 105px;
	top: -158px;
	z-index: 2;
	border-radius:5px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
}
#stan span:nth-of-type(4):before{
	content:"";
	display:block;
	position:relative;
	height: 26px;
	width: 3px;
	background: #f00014;
	border: 0.6px solid black;
	left: 0px;
	top: 0px;
	z-index: 3;
	border-radius:5px;
	-webkit-transform: rotate(25deg);
	-moz-transform: rotate(25deg);
	-ms-transform: rotate(25deg);
	-o-transform: rotate(25deg);
	transform: rotate(25deg);
}
#stan span:nth-of-type(4):after{
	content:"";
	display:block;
	position:relative;
	height: 26px;
	width: 3px;
	background: #f00014;
	border: 0.6px solid black;
	left: 0px;
	top: -27px;
	z-index: 3;
	border-radius:5px;
	-webkit-transform: rotate(50deg);
	-moz-transform: rotate(50deg);
	-ms-transform: rotate(50deg);
	-o-transform: rotate(50deg);
	transform: rotate(50deg);
}
#stan span:nth-of-type(5){
	height: 26px;
	width: 3px;
	background: #f00014;
	border: 0.6px solid black;
	left: 106px;
	top: -184px;
	z-index: 3;
	border-radius: 5px;
	-webkit-transform: rotate(75deg);
	-moz-transform: rotate(75deg);
	-ms-transform: rotate(75deg);
	-o-transform: rotate(75deg);
	transform: rotate(75deg);
}
#stan span:nth-of-type(5):before{
	content:"";
	display:block;
	position:relative;
	height: 26px;
	width: 3px;
	background: #f00014;
	border: 0.6px solid black;
	left: 0px;
	top: 0px;
	z-index: 3;
	border-radius: 5px;
	-webkit-transform: rotate(25deg);
	-moz-transform: rotate(25deg);
	-ms-transform: rotate(25deg);
	-o-transform: rotate(25deg);
	transform: rotate(25deg);
}
#stan span:nth-of-type(5):after{
	content:"";
	display:block;
	position:relative;
	height: 26px;
	width: 3px;
	background: #f00014;
	border: 0.6px solid black;
	left: 0px;
	top: -26px;
	z-index: 3;
	border-radius: 5px;
	-webkit-transform: rotate(50deg);
	-moz-transform: rotate(50deg);
	-ms-transform: rotate(50deg);
	-o-transform: rotate(50deg);
	transform: rotate(50deg);
}
#stan span:nth-of-type(6){
	height: 26px;
	width: 3px;
	background: #f00014;
	border: 0.6px solid black;
	left: 105px;
	top: -212px;
	z-index: 3;
	border-radius: 5px;
	-webkit-transform: rotate(150deg);
	-moz-transform: rotate(150deg);
	-ms-transform: rotate(150deg);
	-o-transform: rotate(150deg);
	transform: rotate(150deg);
}

/*mouth*/
#stan span:nth-of-type(7){
	width: 5px;
	height: 0px;
	border-top: 15px solid black;
	border-left: 24px solid transparent;
	border-right: 11px solid transparent;
	left: 89px;
	top: -128px;
	z-index: 2;
	border-radius: 5px;
	background: transparent;
}

/*teeth*/
#stan span:nth-of-type(7):before{
	content: "";
	display: block;
	position: relative;
	height: 5px;
	width: 5px;
	background: #fff;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 2px;
	left: -14px;
	top: -14px;
}
#stan span:nth-of-type(7):after{
	content: "";
	display: block;
	position: relative;
	height: 5px;
	width: 7px;
	background: #fff;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 4px;
	left: -9px;
	top: -19px;
}
#stan span:nth-of-type(8){
	height: 6px;
	width: 7px;
	background: #fff;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 4px;
	left: 111px;
	top: -142px;
	z-index: 2;
}
#stan span:nth-of-type(8):before{
	content: "";
	display: block;
	position: relative;
	height: 5px;
	width: 7px;
	background: #fff;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 4px;
	left: 6px;
	top: 0px;
}

/*jacket*/
#stan span:nth-of-type(9){
	height: 0px;
	width: 70px;
	border-bottom: 53px solid #803300;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	position: relative;
	left: 62px;
	top: -141px;
}
#stan span:nth-of-type(9):before{
	content: "";
	display: block;
	position: relative;
	height: 12px;
	width: 90px;
	background: #803300;
	border-radius: 44px / 8px;
	left: -10px;
	top: 46px;
	z-index:2;
}
#stan span:nth-of-type(9):after{
	content: "";
	display: block;
	position: relative;
	height: 36px;
	width: 1px;
	background: black;
	left: 34px;
	top: 9px;
	z-index:2;
}

/*buttons*/
#stan span:nth-of-type(10){
	height: 5px;
	width: 5px;
	border-radius: 4px;
	left: 99px;
	top: -170px;
	background: black;
}
#stan span:nth-of-type(10):before{
	content:"";
	display:block;
	position:relative;
	height: 5px;
	width: 5px;
	border-radius: 4px;
	left: 0px;
	top: 14px;
	background: black;
}
#stan span:nth-of-type(10):after{
	content:"";
	display:block;
	position:relative;
	height: 5px;
	width: 5px;
	border-radius: 4px;
	left: 0px;
	top: 22px;
	background: black;
	z-index:2;
}

/*collar*/
#stan span:nth-of-type(11){
	border-top: 15px solid transparent;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 10px solid #f00014;
	background: transparent;
	border-radius: 34px;
	top: -221px;
	left: 70px;
	height: 15px;
	width: 40px;
	-webkit-transform: rotate(36deg);
	-moz-transform: rotate(36deg);
	-ms-transform: rotate(36deg);
	-o-transform: rotate(36deg);
	transform: rotate(36deg);
}
#stan span:nth-of-type(11):before{
	content:"";
	display:block;
	position:relative;
	border-top: 15px solid transparent;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 10px solid #f00014;
	background: transparent;
	border-radius: 34px;
	top: -29px;
	left: 15px;
	height: 15px;
	width: 40px;
	-webkit-transform: rotate(-72deg);
	-moz-transform: rotate(-72deg);
	-ms-transform: rotate(-72deg);
	-o-transform: rotate(-72deg);
	transform: rotate(-72deg);
}

/*hands*/
#stan span:nth-of-type(12){
	background: #803300;
	height: 33px;
	width: 18px;
	left: 141px;
	top: -227px;
	border-top-right-radius: 35px;
	border-bottom-right-radius: 35px;
	-webkit-transform: skewY(60deg);
	-moz-transform: skewY(60deg);
	-ms-transform: skewY(60deg);
	-o-transform: skewY(60deg);
	transform: skewY(60deg);
}
#stan span:nth-of-type(12):before{
	content: "";
	display: block;
	position: absolute;
	background: #803300;
	height: 30px;
	width: 17px;
	left: -86px;
	top: 152px;
	border-top-left-radius: 42px;
	border-bottom-left-radius: 72px;
	-webkit-transform: skewY(-76deg);
	-moz-transform: skewY(-76deg);
	-ms-transform: skewY(-76deg);
	-o-transform: skewY(-76deg);
	transform: skewY(-76deg);
}
#stan span:nth-of-type(13){
	height: 20px;
	width: 20px;
	border-radius: 10px;
	background: #f00014;
	top: -238px;
	left: 53px;
	z-index:2;
}
#stan span:nth-of-type(13):before{
	content: "";
	display: block;
	position: relative;
	height: 8px;
	width: 8px;
	border-radius: 6px;
	background: #f00014;
	top: 3px;
	left: 13px;
	border: 0.5px solid black;
}
#stan span:nth-of-type(14){
	height: 20px;
	width: 20px;
	border-radius: 10px;
	background: #f00014;
	top: -257px;
	left: 143px;
	z-index:2;
}
#stan span:nth-of-type(14):before{
	content: "";
	display: block;
	position: relative;
	height: 8px;
	width: 8px;
	border-radius: 6px;
	background: #f00014;
	top: 3px;
	left: -3px;
	border: 0.5px solid black;
}

/*pants*/
#stan span:nth-of-type(15){
	height: 11px;
	width: 83px;
	background: #3652a3;
	top: -258px;
	left: 65px;
	z-index: 1;
}
#stan span:nth-of-type(15):before{
	content: "";
	position: relative;
	display: block;
	height: 6px;
	width: 49px;
	background: black;
	top: 9px;
	left: 41px;
	z-index: 1;
	border-radius: 150px 150px 0 0;
}
#stan span:nth-of-type(15):after{
	content: "";
	position: relative;
	display: block;
	height: 6px;
	width: 49px;
	background: black;
	top: 3px;
	left: -5px;
	z-index: 1;
	border-radius: 150px 150px 0 0;
}

/**************************************	Kyle ***************************************/

/*hat, skin*/
#kyle span:nth-of-type(1){
	background:#fddebf;
	height:120px;
	width:120px;
	border-radius:60px;
	left:47px;
	top:7px;
	z-index:3;
}
#kyle span:nth-of-type(1):before{
	content: "";
	position: relative;
	display: block;
	height: 53px;
	width: 130px;
	border-radius: 10px 10px 0 0;
	left: -5px;
	top: -5px;
	z-index: 1;
	background: #39cd07;
}
#kyle span:nth-of-type(1):after{
	content: "";
	position: absolute;
	display: block;
	height: 33px;
	width: 108px;
	left: 7px;
	top: 22px;
	z-index: 4;
	background: #08a208;
}
#kyle span:nth-of-type(2){
	position: relative;
	background: #fddebf;
	height: 25px;
	width: 108px;
	border-radius: 130px / 13px;
	left: 54px;
	top: -62px;
	z-index: 3;
}
#kyle span:nth-of-type(2):before{
	content: "";
	position: relative;
	display: block;
	height: 20px;
	width: 63px;
	border-radius: 84px / 27px;
	left: -43px;
	top: 7px;
	z-index: 3;
	background: #39cd07;
	-webkit-transform: rotate(-79deg);
	-moz-transform: rotate(-79deg);
	-ms-transform: rotate(-79deg);
	-o-transform: rotate(-79deg);
	transform: rotate(-79deg);
}
#kyle span:nth-of-type(2):after{
	content:"";
	display:block;
	position:absolute;
	height:20px;
	width:63px;
	border-radius:84px / 27px;
	left: 88px;
	top: 7px;
	background:#39cd07;
	-webkit-transform:rotate(80deg);
	-moz-transform:rotate(80deg);
	-ms-transform:rotate(80deg);
	-o-transform:rotate(80deg);
	transform:rotate(80deg);
}

/*eyes*/

#kyle span:nth-of-type(3){
	height: 29px;
	width: 35px;
	background: white;
	border-radius: 16px / 14px;
	left: 74px;
	top: -78px;
	z-index: 3;
	-webkit-transform: rotate(-57deg);
	-moz-transform: rotate(-57deg);
	-ms-transform: rotate(-57deg);
	-o-transform: rotate(-57deg);
	transform: rotate(-57deg);
}
#kyle span:nth-of-type(3):before{
	content: "";
	display: block;
	position: relative;
	height: 29px;
	width: 35px;
	background: white;
	border-radius: 16px / 14px;
	left: 19px;
	top: 29px;
	z-index: 3;
	-webkit-transform: rotate(110deg);
	-moz-transform: rotate(110deg);
	-ms-transform: rotate(110deg);
	-o-transform: rotate(110deg);
	transform: rotate(110deg);
}

/*eyeball*/
#kyle span:nth-of-type(4){
	height:4px;
	width:4px;
	background:black;
	border-radius:3px;
	left: 96px;
	top: -100px;
	z-index: 3;
}
#kyle span:nth-of-type(4):before{
	content:"";
	display:block;
	position:relative;
	height:4px;
	width:4px;
	background:black;
	border-radius:3px;
	left: 22px;
	top: 0px;
	z-index: 3;
}

/*mouth*/
#kyle span:nth-of-type(5){
	border-top: 13px solid transparent;
	border-left: 0px solid transparent;
	border-right: 3px solid transparent;
	border-bottom: 1px solid black;
	background: transparent;
	left: 97px;
	top: -82px;
	height: 7px;
	width: 22px;
	z-index: 3;
	border-radius: 55px / 30px;
}

/*collar*/
#kyle span:nth-of-type(6){
	border-top: 15px solid transparent;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 10px solid #07a407;
	background: transparent;
	border-radius: 34px;
	top: -107px;
	left: 70px;
	height: 15px;
	width: 40px;
	z-index:2;
	-webkit-transform: rotate(36deg);
	-moz-transform: rotate(36deg);
	-ms-transform: rotate(36deg);
	-o-transform: rotate(36deg);
	transform: rotate(36deg);
}
#kyle span:nth-of-type(6):before{
	content:"";
	display:block;
	position:relative;
	border-top: 15px solid transparent;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 10px solid #07a407;
	background: transparent;
	border-radius: 34px;
	top: -29px;
	left: 15px;
	height: 15px;
	width: 40px;
	z-index:2;
	-webkit-transform: rotate(-72deg);
	-moz-transform: rotate(-72deg);
	-ms-transform: rotate(-72deg);
	-o-transform: rotate(-72deg);
	transform: rotate(-72deg);
}
#kyle span:nth-of-type(7){
	height: 0px;
	width: 70px;
	border-bottom: 53px solid #f06402;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	left: 62px;
	top: -121px;
	z-index:1;
}
#kyle span:nth-of-type(7):before{
	content: "";
	display: block;
	position: relative;
	height: 39px;
	width: 1px;
	background: black;
	left: 34px;
	top: 18px;
}

/*arm*/
#kyle span:nth-of-type(8){
	background:#f06402;
	height:50px;
	width: 22px;
	left: 53px;
	top: -172px;
	border-top-left-radius: 35px;
	border-bottom-left-radius: 35px;
	z-index:1;
	-webkit-transform: skewY(-44deg);
	-moz-transform: skewY(-44deg);
	-ms-transform: skewY(-44deg);
	-o-transform: skewY(-44deg);
	transform: skewY(-44deg);
}
#kyle span:nth-of-type(8):before{
	content:"";
	display:block;
	position:relative;
	background:#f06402;
	height:50px;
	width: 22px;
	left: 85px;
	top: 81px;
	border-top-right-radius: 35px;
	border-bottom-right-radius: 35px;
	z-index:1;
	-webkit-transform: skewY(60deg);
	-moz-transform: skewY(60deg);
	-ms-transform: skewY(60deg);
	-o-transform: skewY(60deg);
	transform: skewY(60deg);
}
#kyle span:nth-of-type(9){
	height: 20px;
	width: 20px;
	border-radius: 10px;
	background: #37cc05;
	top: -190px;
	left: 53px;
	z-index:2;
}
#kyle span:nth-of-type(9):before{
	content: "";
	display: block;
	position: relative;
	height: 8px;
	width: 8px;
	border-radius: 6px;
	background: #37cc05;
	top: 3px;
	left: 13px;
	border: 0.8px solid black;
}
#kyle span:nth-of-type(10){
	height: 20px;
	width: 20px;
	border-radius: 10px;
	background: #37cc05;
	top: -211px;
	left: 143px;
	z-index:2;
}
#kyle span:nth-of-type(10):before{
	content: "";
	display: block;
	position: relative;
	height: 8px;
	width: 8px;
	border-radius: 6px;
	background: #37cc05;
	top: 3px;
	left: -3px;
	border: 0.8px solid black;
}
/*pockets*/
#kyle span:nth-of-type(11){
	border: 1px solid black;
	background: transparent;
	height: 20px;
	width: 17px;
	left: 83px;
	top: -241px;
	z-index: 3;
}
#kyle span:nth-of-type(11):before{
	content:"";
	position:relative;
	display:block;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	background: transparent;
	height: 12px;
	width: 12px;
	left: 2px;
	top: -5px;
	z-index: 3;
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	transform:rotate(45deg);
}
#kyle span:nth-of-type(12){
	border: 1px solid black;
	background: transparent;
	height: 20px;
	width: 17px;
	left: 112px;
	top: -262px;
	z-index: 3;
}
#kyle span:nth-of-type(12):before{
	content:"";
	position:relative;
	display:block;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	background: transparent;
	height: 12px;
	width: 12px;
	left: 2px;
	top: -5px;
	z-index: 3;
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	transform:rotate(45deg);
}
/*pants*/
#kyle span:nth-of-type(13){
	background: #246752;
	height: 15px;
	width: 85px;
	left: 67px;
	top: -256px;
}
#kyle span:nth-of-type(13):before{
	content: "";
	display: block;
	position: relative;
	background: #f06402;
	height: 10px;
	width: 85px;
	border-radius: 176px / 35px;
	left: 0px;
	top: -5px;
}
#kyle span:nth-of-type(14){
	height: 8px;
	width: 49px;
	background: black;
	top: -260px;
	left: 108px;
	z-index: 1;
	border-radius: 180px 180px 0 0;
}
#kyle span:nth-of-type(14):before{
	content:"";
	display:block;
	position:relative;
	height: 8px;
	width: 49px;
	background: black;
	top: 0px;
	left: -46px;
	z-index: 1;
	border-radius: 180px 180px 0 0;
}


/*************************************** cartman ***************************************/

/*head, hat*/
#cartman span:nth-of-type(1){
	background: #fddebf;
	position: relative;
	left: 37px;
	top: 13px;
	height: 120px;
	width: 140px;
	border-radius: 80px / 70px;
	z-index:1;
}
#cartman span:nth-of-type(1):before{
	content: "";
	position: relative;
	display: block;
	top: -5px;
	left: 0px;
	height: 64px;
	width: 140px;
	background: #06b3c0;
	border-radius: 70px 70px 0 0;
}
#cartman span:nth-of-type(2){
	top: -62px;
	left: 37px;
	height: 22px;
	width: 140px;
	background: #fcd520;
	border-radius: 130px / 13px;
	z-index:2;
}
#cartman span:nth-of-type(2):before{
	content: "";
	position: relative;
	display: block;
	height: 22px;
	width: 140px;
	background: #fddebf;
	border-radius: 130px / 15px;
	top: 5px;
	left: 0px;
	z-index:2;
}
#cartman span:nth-of-type(3){
	background: #fcd520;
	height: 15px;
	width: 15px;
	left: 102px;
	top: -139px;
	border-radius: 20px;
	z-index:2;
}
#cartman span:nth-of-type(3):before{
	content: "";
	position: relative;
	display: block;
	background: #fcd520;
	height: 15px;
	width: 15px;
	left: -5px;
	top: 4px;
	border-radius: 20px;
}
#cartman span:nth-of-type(3):after{
	content: "";
	position: relative;
	display: block;
	background: #fcd520;
	height: 15px;
	width: 15px;
	left: -9px;
	top: -16px;
	border-radius: 20px;
}

/*eyes*/
#cartman span:nth-of-type(4){
	height: 29px;
	width: 35px;
	background: white;
	border-radius: 16px / 14px;
	left: 72px;
	top: -87px;
	-webkit-transform: rotate(-57deg);
	-moz-transform: rotate(-57deg);
	-ms-transform: rotate(-57deg);
	-o-transform: rotate(-57deg);
	transform: rotate(-57deg);
	z-index:2;
}
#cartman span:nth-of-type(4):before{
	content: "";
	display: block;
	position: relative;
	height:3px;
	width:3px;
	background:black;
	border-radius:5px;
	left: 21px;
	top: 15px;
	z-index:2;
}
#cartman span:nth-of-type(5){
	content: "";
	display: block;
	position: relative;
	height: 29px;
	width: 35px;
	background: white;
	border-radius: 16px / 14px;
	left: 107px;
	top: -116px;
	z-index:2;
	-webkit-transform: rotate(54deg);
	-moz-transform: rotate(54deg);
	-ms-transform: rotate(54deg);
	-o-transform: rotate(54deg);
	transform: rotate(54deg);
}
#cartman span:nth-of-type(5):before{
	content: "";
	display: block;
	position: relative;
	height:3px;
	width:3px;
	background:black;
	border-radius:5px;
	left: 11px;
	top: 15px;
	z-index:2;
}

/*mouth*/
#cartman span:nth-of-type(6){
	border-top: 1px solid black;
	border-left: 0px solid transparent;
	border-right: 3px solid transparent;
	border-bottom: 6px solid transparent;
	background: transparent;
	left: 97px;
	top: -101px;
	height: 14px;
	width: 22px;
	z-index: 3;
	border-radius: 30px / 9px;
}
#cartman span:nth-of-type(6):before{
	content: "";
	display: block;
	position: relative;
	background: black;
	height: 21px;
	width: 1px;
	left: 21px;
	top: -66px;
	-webkit-transform: rotate(49deg);
	-moz-transform: rotate(49deg);
	-ms-transform: rotate(49deg);
	-o-transform: rotate(49deg);
	transform: rotate(49deg);
}
#cartman span:nth-of-type(6):after{
	content: "";
	display: block;
	position: relative;
	background: black;
	height: 21px;
	width: 1px;
	left: -5px;
	top: -87px;
	-webkit-transform: rotate(-49deg);
	-moz-transform: rotate(-49deg);
	-ms-transform: rotate(-49deg);
	-o-transform: rotate(-49deg);
	transform: rotate(-49deg);
}
#cartman span:nth-of-type(7){
	border-top: 6px solid transparent;
	border-left: 0px solid transparent;
	border-right: 3px solid transparent;
	border-bottom: 1px solid #ae8f64;
	background: transparent;
	left: 92px;
	top: -132px;
	height: 14px;
	width: 31px;
	z-index: 3;
	border-radius: 30px / 9px;
}
#cartman span:nth-of-type(7):before{
	content: "";
	display: block;
	position: relative;
	border-top: 0px solid transparent;
	border-left: 0px solid transparent;
	border-right: 0px solid transparent;
	border-bottom: 1px solid #ae8f64;
	background: transparent;
	left: -28px;
	top: -8px;
	height: 26px;
	width: 86px;
	z-index: 3;
	border-radius: 100px / 30px;
}

/*body*/
#cartman span:nth-of-type(8){
	background: #e12740;
	width: 57px;
	height: 22px;
	border-radius: 50px 50px 0 0;
	top: -135px;
	left: 21px;
	-webkit-transform: rotate(-67deg);
	-moz-transform: rotate(-67deg);
	-ms-transform: rotate(-67deg);
	-o-transform: rotate(-67deg);
	transform: rotate(-67deg);
}
#cartman span:nth-of-type(8):before{
	content: "";
	display: block;
	position: relative;
	background: #e12740;
	width: 57px;
	height: 22px;
	border-radius: 0px 0px 50px 50px;
	top: 109px;
	left: 43px;
	-webkit-transform: rotate(-57deg);
	-moz-transform: rotate(-57deg);
	-ms-transform: rotate(-57deg);
	-o-transform: rotate(-57deg);
	transform: rotate(-57deg);
}
#cartman span:nth-of-type(9){
	border-top: 60px solid transparent;
	border-bottom: 57px solid #e12740;
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	top: -218px;
	left: 46px;
	width: 108px;
	height: 1px;
	background: transparent;
	border-radius: 0px 0px 20px 24px;
}
#cartman span:nth-of-type(9):before{
	content: "";
	display: block;
	position: relative;
	height: 45px;
	width: 93px;
	top: 17px;
	left: -13px;
	background: #e12740;
	border-radius: 45px / 26px;
	z-index:2;
}
#cartman span:nth-of-type(9):after{
	content: "";
	display: block;
	position: relative;
	height: 35px;
	width: 73px;
	top: -18px;
	left: 50px;
	background: #e12740;
	border-radius: 63px / 26px;
	z-index:2;
}
#cartman span:nth-of-type(10){
	background: black;
	height: 43px;
	width: 1px;
	top: -262px;
	left: 114px;
	z-index:2;
}

/*buttons*/
#cartman span:nth-of-type(11){
	background: black;
	height: 6px;
	width: 4px;
	top: -302px;
	left: 105px;
	border-radius: 5px;
	z-index:2;
}
#cartman span:nth-of-type(11):before{
	content: "";
	display: block;
	position: relative;
	background: black;
	height: 6px;
	width: 4px;
	top: 15px;
	left: 3px;
	border-radius: 5px;
	z-index:2;
}
#cartman span:nth-of-type(11):after{
	content: "";
	display: block;
	position: relative;
	background: black;
	height: 6px;
	width: 4px;
	top: 26px;
	left: 2px;
	border-radius: 5px;
	z-index:2;
}

/*hands*/
#cartman span:nth-of-type(12){
	background:#f7d919;
	height: 25px;
	width: 25px;
	border-radius: 20px / 20px;
	left: 30px;
	top: -306px;
	z-index:2;
}
#cartman span:nth-of-type(12):before{
	content: "";
	display: block;
	position: relative;
	background: #f7d919;
	height: 17px;
	width: 8px;
	border-radius: 20px / 20px;
	left: 1px;
	top: -8px;
	z-index:2;
	-webkit-transform: rotate(-18deg);
	-moz-transform: rotate(-18deg);
	-ms-transform: rotate(-18deg);
	-o-transform: rotate(-18deg);
	transform: rotate(-18deg);
	/* or
	left: 19px;
	top: 4px;
	-webkit-transform: rotate(-38deg);
	*/
}
#cartman span:nth-of-type(12):after{
	content: "";
	display: block;
	position: relative;
	background: #f7d919;
	height: 25px;
	width: 25px;
	border-radius: 20px / 20px;
	left: 132px;
	top: -15px;
}

/*pants*/
#cartman span:nth-of-type(13){
	border-top: 0px solid transparent;
	border-bottom: 18px solid #704033;
	height: 25px;
	width: 122px;
	left: 49px;
	top: -320px;
	z-index: 1;
	border-radius: 21px;
}

/*boots*/
#cartman span:nth-of-type(13):before{
	content: "";
	display: block;
	position: relative;
	border-top: 11px solid black;
	border-bottom: 0px solid transparent;
	height: 5px;
	width: 65px;
	left: 60px;
	top: 34px;
	z-index: 2;
	border-radius: 18px;
}
#cartman span:nth-of-type(13):after{
	content: "";
	display: block;
	position: relative;
	border-top: 11px solid black;
	border-bottom: 0px solid transparent;
	height: 5px;
	width: 65px;
	left: 0px;
	top: 19px;
	z-index: 2;
	border-radius: 18px;
}